.button__left {
  display: flex;
  align-items: center;
}

.button__right {
  margin-left: auto;
}

.cart-button.flashing {
  animation: flash 200ms ease-in-out;
}

@keyframes flash {
  0% {
  }
  50% {
    color: rgb(78, 78, 78);
    background-color: #cf750095;
    box-shadow: 2px 2px 0px 0px rgb(78, 78, 78);
  }
  100% {
  }
}
