.cart-button {
    margin: 0 auto;
    padding: 0;
    max-width: 1100px;
    height: var(--cart-button-size);
    position: fixed;
    bottom: 2px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

.button__left {
    display: flex;
    align-items: center;
}

.button__right {
    margin-left: auto;
}
