/* src/components/ProductSlider/ProductSlider.css */
.product-slider {
    margin: 0;
    padding: 0;
}

.titleToggle-box {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    height: auto;
}

.filter-button {
    border: transparent;
    background: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter-button:hover {
    filter: brightness(1);
}

.product-slider__list {
    margin: 13px auto 20px;
    padding: 0 14px;
    display: flex;
    overflow-x: auto;
    gap: 11px;
    list-style: none;
}

.product-slider__list::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 75%;
    scroll-snap-align: start;
}

@media (min-width: 550px) {
    .product-slider__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 11px;
        overflow: visible;
    }

    .product-card {
        flex: unset;
    }
}
