/* src/components/ProductSlider/ProductSlider.css */
.product-slider {
    margin: 0;
    padding: 0;
}

.titleToggle-box {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 14px;
    height: auto;
}

.filter-button {
    border: transparent;
    background: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.product-slider__list {
    margin: 7px auto 12px;
    padding: 0 14px;
    display: flex;
    overflow-x: auto;
    gap: 11px;
    list-style: none;
}

.product-slider__list::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 clamp(290px, 70%, 350px);
    scroll-snap-align: start;
}

@media (min-width: 650px) {
    .product-slider__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        padding: 0 24px;
        gap: 11px;
        overflow: visible;
    }

    .product-card {
        flex: unset;
    }

    .titleToggle-box {
        padding: 0 18px 0 24px;
    }
}
