.product-page {
    height: 100vh;
}


.product-page__image {
    width: 100%;
    min-height: 312px;
    object-fit: cover;
    
}

.product-page__info {
    display: flex;
    justify-content: space-between; /* Flexbox to space title and price */
    align-items: center; /* Align items vertically */
}

.product-page__image-container {
    position: relative; /* Make this container relative for absolute positioning of the button */
    border-bottom: 1px solid #262626;
    border-top: 1px solid #262626;

}

.product-page__description {
    padding: 0 14px;
    padding-bottom: 24px;
    border-bottom: 2px solid #262626;
    
}
.product-page__info {
    padding: 0 14px;
    letter-spacing: 0.18px;
    margin-bottom: 14px;
    

}
.button__custom-position {
    position: absolute; 
    bottom: 15px; 
    right: 10px; 
}

.product-page__price {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.18px;
}