/* src/components/header/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.logo {
    width: clamp(5rem, 8vw, 7rem);
}

.back-button,
.menu-button {
    padding: 0;
}

.header__profile {
    display: flex;
    align-items: center;
}
