/* src/components/ProductCard/ProductCard.css */
.product-card {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-width: 200px;
    min-height: 140px;
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 2px;
    box-shadow: 1px 1px black, 2px 2px black;
    background-color: white;
}

.product-card__image-container {
    position: relative;
}

.product-card__image {
    width: 100%;
    border-bottom: 1px solid black;
}

.product-card__add-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    font-size: 20px;
}

.product-card__info {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 0 10px 10px;
}

.product-card__title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card__title,
.product-card__price {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.product-card__info-button {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-start;
}
