


.order-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: .5rem;
    padding: .5rem;

}

.underline-p {
  width: 100%;
  border-top: 1px solid var(--color-text);

}


.chef-note[type="text"] {
    border-top: 1px solid var(--color-text);
    margin: 0;
    text-align: left;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
    border-right: none;
    padding: 0;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: -4px;

}
.chef-note::placeholder {
 

}

.view-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  
}
 
.note {
  width: 100%;
  border-top: 1px solid var(--color-text);

}



  .order-card button {
    background: transparent;
    border: none;
    font-size: var(--font-size-small);
    line-height: var(--font-size-small);
    color: var(--text-color);
    display: inline-block;
    padding: 0;
    color: #1B1B1B;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 0.15px;
    width: 100%;
    text-align: left;
    border-top: 1px solid var(--color-text);
}


.pending-orders {
    background-image: url('../../assets/pink-bg.svg'); /* Added background image */
    background-size: cover; /* Optional: Adjusts the size of the background image */
    background-repeat: no-repeat; 
    background-position: center 60px;
}

