.cartpage {
    padding: 14px;
    height: 100vh;
}
.cartpage__title {
    margin-bottom: 5px;
}

.cartpage__image {
    margin-bottom: 34px;
}

.cartpage {
    background-image: url('../../assets/greenellipse.svg');
    background-position: left;
    background-position: left 100px;
    background-repeat: no-repeat;
    background-size: fit;
  }