.order-history-page {
  align-items: center;
}

.order-history-page__heading {
  align-self: start;
}

.order-history-page___ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.order-history-page___list-item {
  width: 100%;
}
