.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    position: relative;
}

.contact-page__title {
    align-self: flex-start;
    margin-bottom: 22px;

}
.contact-page__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}
.contact-page__description {
    margin-bottom: 22px;
    color: #808080;
    text-align: left;
    
}

.contact-page__textarea {
    width: 100%;
}

.contact-page__button {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#kontaktForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.about-group-icon {
    width: 100%;
    height: 50vh;
}

.kontaktLink {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: block;
    
}
.first-paragraph-contact {
    max-width: 50%;
}

.second-paragraph-contact {
    max-width: 70%;
}
.contact-container-page {
    z-index: -1;
}

@media (max-width: 868px) {
    .kontaktLink {
        max-width: 500px;
    }
}

@media (max-width: 480px) {
    .kontaktLink {
        max-width: 200px;
    }
}