.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.contact-page__title {
    align-self: flex-start;
    margin-bottom: 22px;

}
.contact-page__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}
.contact-page__description {
    margin-bottom: 22px;
    color: #808080;
    text-align: left;
    
}

.contact-page__textarea {
    width: 100%;
}

.contact-page__button {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#kontaktForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.about-group-icon {
    width: 100%;
    height: 50vh;
}

.kontaktLink {
    align-self: flex-end;
}
