.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    text-align: left;
    
}
.contact-page__title {
    align-self: flex-start;

}
.contact-page__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}
.contact-page__description {
    margin-bottom: 22px;
    color: #808080;
    
}

.contact-page__textarea {
    width: 100%;
    margin-bottom: 22px;
    border: 1px solid black;
    border-radius: 6px;
    min-height: 156px;
    font-family: 'Darker Grotesque', sans-serif; 
    font-weight: 500;
    box-shadow: 1px 1px black, 2px 2px black;

}

.contact-page__button {
    min-width: 104px;
    min-height: 42px;
    align-self: flex-end;
    background-color: white;
    font-family: 'Darker Grotesque', sans-serif; 
    font-weight: 600;
    font-size: 16px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 22px;
    
}

.contact-page__textarea::placeholder {
    padding: 12px;
    
}

.button_p {
    margin-bottom: 4px;
}

.yellow-circle {
    min-height: 144px;
    min-width:152px;
    align-self: flex-end;
}
.twist-arrow {
    max-width: 175px;
    min-height: 193px;
    align-self: flex-end;
    margin-top: -7rem;
}

.contact-page__readabout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 130px;
    background: none;
    position: absolute;
    top: 360px;
    left: 120px;
}

.ellipse-text {
    position: absolute;
    text-align: center;
    text-decoration: underline;
}